<manifest package="com.example.game_android" xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="Soulsong"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameAndroid">

        <!-- Main is now the launcher & uses the splash theme -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GameAndroid.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
    </application>
</manifest>
