<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game_android">

    <application
        android:allowBackup="true"
        android:label="Soulsong"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameAndroid">

        <!-- Launcher activity: shows system splash via Theme.GameAndroid.Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GameAndroid.Launcher"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Game screen -->
        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:theme="@style/Theme.GameAndroid"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection|uiMode"/>
    </application>
</manifest>
